.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(255, 254, 250);
    
}
.logo img{
    height: auto;
    width: 160px;
}
.nav a{
    text-decoration: none;
    margin-left: 25px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 96, 181);
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgba(255, 254, 250);
    background:url(background.png);
}
.Login{
    width: 23%;
    margin: 50px auto;
    background-color: rgba(255, 254, 250);
    padding: 35px;
    border-radius: 10px;
    text-align: center;
    
}
.Login h1{
    margin-bottom: 20px;
}
.info{
    color: gray;
}
form input[type="text"],
form input[type="password"]{
    width: 90%;
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid gray;
    border-radius: 8px;
    font-size: 15px;
}
.remember{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin: 15px 0;
    font-size: 15px;
}
.remember-left{
    display: flex;
    align-items: center;
    gap: 6px;
}
.signinb{
    width: 100%;
    padding: 12px;
    border: 0px;
    background-color:rgb(0, 188, 131);
    color:white;
    font-size: 17px;
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 15px;
}
.signup{
    width: 100%;
    padding: 12px;
    border: 0px;
    background-color:rgb(0, 188, 131);
    color:white;
    font-size: 17px;
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 15px;
}
.forgot{
    color: gray;
    text-decoration: none;
    font-size: 15px;
}
.footer{
    margin: 0;
    width: 100%;
    height: 100px;
    padding: 20px 0;
    background-color: rgb(0, 61, 114);
    border-top: 1px solid gray;
    margin-top: 40px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.content p{
    color: white;
    font-size: 15px;
}
.links a {
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: 0.3s;
}
@media (max-width: 600px) {
    .Login {
        width: 50%;
        padding: 25px;
    }
    form input[type="text"],
    form input[type="password"] {
        width: 90%;
    }
    .remember {
        font-size: 14px;
    }
}
