.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(255, 254, 250);
    border-bottom: 1px solid rgb(191, 191, 191);
}
.logo img{
    height: auto;
    width: 160px;
}
.nav a{
    text-decoration: none;
    margin-left: 25px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(98, 98, 98);
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgba(255, 254, 250);
}
.Login{
    width: 350px;
    margin: 50px auto;
    background-color: rgba(255, 254, 250);
    padding: 35px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid rgb(191, 191, 191);
}
.Login h2{
    margin-bottom: 20px;
}
.apple,.facebook,.google{
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.apple img{
    height: 20px;
    width: 18px;
}
.facebook img{
    height: 18px;
    width: 18px;
}
.google img{
    height: 18px;
    width: 18px;
}
.apple{
    background-color: black;
}
.facebook{
    background-color: blue;
}
.google{
    background-color: rgb(193, 4, 4);
}
form input[type="text"],
form input[type="password"]{
    width: 320px;
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid gray;
    border-radius: 8px;
    font-size: 15px;
}
.remember{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 15px;
    font-size: 15px;
    gap: 6px;
}
.signinb{
    width: 100%;
    padding: 12px;
    background-color: black;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 15px;
}
.forgot{
    color: gray;
    text-decoration: none;
    font-size: 15px;
}
.footer{
    margin: 0;
    width: 100%;
    height: 100px;
    padding: 20px 0;
    background-color: rgb(0, 61, 114);
    border-top: 1px solid gray;
    margin-top: 40px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.content p{
    color: white;
    font-size: 15px;
}
.links a {
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: 0.3s;
}