.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(255, 254, 250);
    
}
.logo img{
    height: auto;
    width: 160px;
}
.nav a{
    text-decoration: none;
    margin-left: 25px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 96, 181);
}
.kategorite h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 96, 181) ;
    text-align: center;
}
.kategorite p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white ;
    text-align: center;
    width: 400px;
    margin: 0px auto;
}
body{
    margin: 0;
    padding: 0;
    background: url(bacground3.png);
}
.workouts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 30px;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 96, 181);
    font-size: 17px;
}
.wo{
    height: 400px;
     width: 300px;
     align-items: center;
     padding: 30px;
     border: 2px solid white;
     background-color: white;
     border-radius: 20px;
}
.wo img{
    height: 200px;
    width: 300px;
    border-radius: 20px;
}
.tit{
   text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.pershkrimi{
    text-align: center;
    font-size: 16px;
    color: gray;
}
.footer{
    margin: 0;
    width: 100%;
    height: 100px;
    padding: 20px 0;
    background-color: rgb(0, 61, 114);
    border-top: 1px solid gray;
    margin-top: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.content p{
    color: white;
    font-size: 15px;
}
.links a {
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: 0.3s;
}
@media screen and (max-width: 600px) {

    .header {
        flex-direction: column;
    }

    .nav {
        text-align: center;
        margin-top: 10px;
    }

    .nav a {
        display: block;
        font-size: 16px;
        margin: 6px 0;
    }

    .kategorite p {
        width: 90%;
    }

    .wo {
        width: 100%;
        max-width: 320px;
        height: auto;
        padding: 15px;
    }

    .wo img {
        width: 100%;
        height: auto;
    }

    .tit {
        font-size: 18px;
    }

    .pershkrimi {
        font-size: 14px;
    }
}