.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(255, 254, 250);
    border-bottom: 1px solid rgb(191,191, 191);
}
.logo img{
    height: auto;
    width: 160px;
}
.nav a{
    text-decoration: none;
    margin-left: 25px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 96, 181);
}
.kategorite h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 96, 181) ;
    text-align: center;
}
.kategorite p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray ;
    text-align: center;
    width: 400px;
    margin: 0px auto;
}
.workouts{
    display: flex;
    justify-content: baseline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 96, 181);
    font-size: 17px;
}
.wo img{
    height: 200px;
    width: 300px;
    border-radius: 4px;
    border: 2px solid rgb(191,191, 191);

}
.footer{
    margin: 0;
    width: 100%;
    height: 100px;
    padding: 20px 0;
    background-color: rgb(0, 61, 114);
    border-top: 1px solid gray;
    margin-top: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.content p{
    color: white;
    font-size: 15px;
}
.links a {
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: 0.3s;
}