body {
    margin: 0;
    padding: 0;
    background:url(background.png);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(255, 254, 250);
    
}
.logo img{
    height: auto;
    width: 160px;
}
.nav a{
    text-decoration: none;
    margin-left: 25px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 96, 181);
}

.pagecontainer {
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    border: 1px solid rgb(221, 221, 221);
}

.pagecontainer h1 {
    text-align: center;
    color: rgb(0, 96, 181);
}

.pageintro {
    text-align: center;
    color: rgb(85, 85, 85);
    margin-bottom: 30px;
}

.day {
    margin-bottom: 35px;
}

.day h2 {
    color: rgb(0, 96, 181);
    border-bottom: 2px solid rgb(238, 238, 238);
    padding-bottom: 5px;
}
.exercise {
    display: flex;
    align-items: center;
    margin: 15px 0;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 6px;
    padding: 10px;
}

.exercise img {
    width: 120px;
    height: auto;
    margin-right: 15px;
    border-radius: 6px;
}

.exercise .text h3 {
    margin: 0;
    color: rgb(0, 96, 181);
}

.exercise .text p {
    margin: 4px 0;
    color: rgb(68, 68, 68);
}
footer{
    margin: 0;
    width: 100%;
    height: 100px;
    padding: 20px 0;
    background-color: rgb(0, 61, 114);
    border-top: 1px solid gray;
    margin-top: 40px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.content p{
    color: white;
    font-size: 15px;
}
.links a {
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: 0.3s;
}
@media screen and (max-width: 600px) {

    .header {
        flex-direction: column;
    }

    .nav {
        margin-top: 10px;
        text-align: center;
    }

    .nav a {
        display: block;
        margin: 8px 0;
        font-size: 16px;
    }

    .pagecontainer {
        width: 95%;
        padding: 15px;
    }

    .exercise {
        flex-direction: column;
        text-align: center;
    }

    .exercise img {
        margin: 0 0 10px 0;
        width: 140px;
    }

    .footer {
        height: auto;
        text-align: center;
    }

    .links a {
        display: block;
        margin: 8px 0;
    }
}